<form @submit.prevent="addNewCard(deskList.id)" class="mt-3">
    <input type="text" v-model="card_names[deskList.id]" :class="{ 'is-invalid': $v.card_names.$each[deskList.id].$error }" class="form-control" placeholder="Enter card name">
    <div class="invalid-feedback" v-if="!$v.card_names.$each[deskList.id].required">
        Field is required.
    </div>
    <div class="invalid-feedback" v-if="!$v.card_names.$each[deskList.id].maxLength">
        The name must contain at most {{$v.card_names.$each[deskList.id].$params.maxLength.max}} letters.
    </div>
</form>
