<template>
<div class="container">
    <h1>Desks</h1>
    <form @submit.prevent="addNewDesk">
        <div class="form-group mb-3">
            <input type="text" class="form-control" :class="{ 'is-invalid': $v.name.$error }" placeholder="Enter Desk name" v-model="name">
            <div class="invalid-feedback" v-if="!$v.name.required">
                Field is required.
            </div>
            <div class="invalid-feedback" v-if="!$v.name.maxLength">
                The name must contain at most {{$v.name. $params.maxLength.max}} letters.
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
    <div class="alert alert-danger mt-3" role="alert" v-if="errored">
        Ошибка загрузки данных!<br>
        <ul>
            <li v-for="error in errors">{{error}}</li>
        </ul>
    </div>
    <div class="text-center m-5">
        <div class="spinner-border text-primary" role="status" v-if="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-lg-4 mt-3" v-for="desk in desks">
            <div class="card">
                <div class="card-body text-center">
                    <router-link :to="{name: 'showDesk', params:{deskId:desk.id}}">
                        <h5 class="card-title">{{desk.name}}</h5>
                    </router-link>
                    <button type="button" class="btn btn-danger mt-3" @click="deleteDesk(desk.id, desk.name)">Delete desk</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import {
    required,
    maxLength
} from 'vuelidate/lib/validators';

export default {
    data() {
        return {
            desks: [],
            errored: false,
            errors: [],
            loading: true,
            name: null,
        }
    },
    methods: {
        getAllDesks() {
            axios.get('/api/v1/desks')
                .then((response => {
                    this.desks = response.data.data;
                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        deleteDesk(id, name) {
            if (confirm('You want to remove the board ' + name)) {
                axios.post('/api/v1/desks/' + id, {
                        _method: 'DELETE'
                    })
                    .then((response => {
                        this.desks = [];
                        this.getAllDesks();
                    }))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => {
                        this.loading = false;
                    });

            }
        },
        addNewDesk() {
            this.$v.$touch();
            if (this.$v.$anyError) {
                return;
            }
            axios.post('/api/v1/desks/', {
                    name: this.name
                })
                .then((response => {
                    this.desks = [];
                    this.name = '';
                    this.getAllDesks();
                }))
                .catch(error => {
                    console.log(error.response);
                    if (error.response) {
                        this.errors = [];
                        //this.errors.push(error.response.data.errors.name);
                    }
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        }
    },
    mounted() {
        this.getAllDesks();
    },
    validations: {
        name: {
            required,
            maxLength: maxLength(255)
        }
    }


}
</script>
