<template>
<div class="container">
    <h1>{{name}}</h1>
    <div class="invalid-feedback">
        The name must contain at most letters.
    </div>
    <div class="form-group">
        <input type="text" class="form-control" :class="{ 'is-invalid': $v.name.$error }" @blur="saveName" v-model="name">
        <div class="invalid-feedback" v-if="!$v.name.required">
            Field is required.
        </div>
        <div class="invalid-feedback" v-if="!$v.name.maxLength">
            The name must contain at most {{$v.name.$params.maxLength.max}} letters.
        </div>
    </div>
    <form @submit.prevent="addNewDeskList">
        <div class="form-group mb-3 mt-3">
            <input type="text" class="form-control" :class="{ 'is-invalid': $v.desk_list_name.$error }" placeholder="Enter List name" v-model="desk_list_name">
            <div class="invalid-feedback" v-if="!$v.desk_list_name.required">
                Field is required.
            </div>
            <div class="invalid-feedback" v-if="!$v.desk_list_name.maxLength">
                The name must contain at most {{$v.desk_list_name.$params.maxLength.max}} letters.
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add List</button>
    </form>
    <div class="alert alert-danger mt-3" role="alert" v-if="errored">
        Ошибка загрузки данных!<br>
        <ul>
            <li v-for="error in errors">{{error}}</li>
        </ul>
    </div>
    <div class="text-center m-5">
        <div class="spinner-border text-primary" role="status" v-if="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-lg-4 mt-3" v-for="(deskList, index) in deskLists">
            <div class="card">
                <div class="card-body text-center">
                    <form class="form-group" v-if="desk_list_input_id == deskList.id" @submit.prevent="updateDeskList(deskList.id, deskList.name)">
                        <div class="input-group">
                            <input type="text" class="form-control" :class="{ 'is-invalid': $v.deskLists.$each[index].name.$error }" placeholder="Enter List name" v-model="deskList.name">
                            <div class="invalid-feedback" v-if="!$v.deskLists.$each[index].name.required">
                                Field is required.
                            </div>
                            <div class="invalid-feedback" v-if="!$v.deskLists.$each[index].name.maxLength">
                                The name must contain at most {{$v.deskLists.$each[index].name.$params.maxLength.max}} letters.
                            </div>
                            <span class="input-group-btn">
                                <button type="button" @click="updateDeskList(deskList.id, deskList.name)" class="btn-close p-2" aria-label="Close"></button>
                            </span>
                        </div>
                    </form>
                    <h5 v-else class="card-title" @click="editDeskList(deskList.id)">
                        {{deskList.name}}
                        <i class="fas fa-pencil-alt"></i>
                    </h5>
                    <button type="button" class="btn btn-danger mt-3" @click="deleteDeskList(deskList.id, deskList.name)">Delete list</button>
                    <div class="card mt-3 bg-light" v-for="card in deskList.cards" :key="card.id">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                {{card.name}}
                            </h5>
                            <div class="d-grid gap-2 d-md-block mb-3">
                                <button type="button" @click="getCard(card.id)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Open card
                                </button>
                                <button type="button" class="btn btn-secondary" @click="deleteCard(card.id, card.name)">Delete card</button>
                            </div>
                        </div>
                    </div>
                    <form @submit.prevent="addNewCard(deskList.id)" class="form-group mt-3">
                        <input type="text" v-model="card_names[deskList.id]" :class="{ 'is-invalid': $v.card_names.$each[deskList.id].$error }" class="form-control" placeholder="Enter card name">
                        <div class="invalid-feedback" v-if="!$v.card_names.$each[deskList.id].required">
                            Field is required.
                        </div>
                        <div class="invalid-feedback" v-if="!$v.card_names.$each[deskList.id].maxLength">
                            The name must contain at most {{$v.card_names.$each[deskList.id].$params.maxLength.max}} letters.
                        </div>
                    </form>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <form class="form-group" v-if="showInputCard" @submit.prevent="updateCard(current_card.id, current_card.name)">
                                        <div class="input-group">
                                            <input type="text" class="form-control" :class="{ 'is-invalid': $v.current_card.name.$error }" placeholder="Enter List name" v-model="current_card.name">
                                            <div class="invalid-feedback" v-if="!$v.current_card.name.required">
                                                Field is required.
                                            </div>
                                            <div class="invalid-feedback" v-if="!$v.current_card.name.maxLength">
                                                The name must contain at most {{$v.current_card.name.$params.maxLength.max}} letters.
                                            </div>
                                            <span class="input-group-btn">
                                                <button type="button" @click="updateCard(current_card.id, current_card.name)" class="btn-close p-2" aria-label="Close"></button>
                                            </span>
                                        </div>
                                    </form>
                                    <h5 v-else class="modal-title" @click="editCard(current_card.id)" id="staticBackdropLabel">
                                        {{current_card.name}}
                                        <i class="fas fa-pencil-alt"></i>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div v-for="(task, index) in current_card.tasks" class="form-check">
                                        <input @change="updateTask(current_card.tasks[index])" v-model="current_card.tasks[index].is_done" class="form-check-input" type="checkbox" value="" :id="'defaultCheck1' + index">
                                        <form v-if="task_input_name_id == task.id" @submit.prevent="updateTask(current_card.tasks[index])" class="form-group mt-3">
                                            <input @blur="updateTask(current_card.tasks[index])" type="text" v-model="current_card.tasks[index].name" class="form-control" placeholder="Enter task name">
                                        </form>
                                        <label v-else class="form-check-label mr-3" :for="'defaultCheck1' + index">
                                            {{task.name}}
                                        </label>
                                        <span @click="editTask(task.id)"><i class="fas fa-pencil-alt"></i></span>
                                        <button type="button" @click="deleteTask(task.id, task.name)" class="btn-close p-2" aria-label="Close"></button>
                                    </div>
                                    <form @submit.prevent="addNewTask" class="form-group mt-3">
                                        <input type="text" v-model="taskName" class="form-control" :class="{ 'is-invalid': $v.taskName.$error }" placeholder="Enter task name">
                                        <div class="invalid-feedback" v-if="!$v.taskName.required">
                                            Field is required.
                                        </div>
                                        <div class="invalid-feedback" v-if="!$v.taskName.maxLength">
                                            The name must contain at most {{$v.taskName.$params.maxLength.max}} letters.
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <p>Trello</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import {
    required,
    maxLength
} from 'vuelidate/lib/validators';

export default {
    props: [
        'deskId'
    ],
    data() {
        return {
            name: null,
            desk_list_name: null,
            errored: false,
            errors: [],
            loading: true,
            deskLists: [],
            desk_list_input_id: null,
            card_names: [],
            current_card: [],
            showInputCard: false,
            taskName: null,
            task_input_name_id: null
        }
    },
    methods: {
        getDesk() {
            axios.get('/api/v1/desks/' + this.deskId)
                .then((response => {
                    this.name = response.data.data.name;
                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.getDeskLists();
                    this.loading = false;
                    this.$v.$reset();
                });
        },
        getDeskLists() {
            axios.get('/api/v1/desk-lists', {
                    params: {
                        desk_id: this.deskId
                    }
                })
                .then((response => {
                    this.deskLists = [];
                    this.deskLists = response.data.data;
                    this.card_names = [];
                    this.deskLists.forEach((el) => {
                        this.card_names[el.id] = '';
                    });
                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        addNewDeskList() {
            this.$v.desk_list_name.$touch();
            if (this.$v.desk_list_name.$anyError) {
                return;
            }
            axios.post('/api/v1/desk-lists/', {
                    name: this.desk_list_name,
                    desk_id: this.deskId
                })
                .then((response => {
                    console.log(response);
                    this.$v.$reset();
                    this.desk_list_name = null;
                    this.getDeskLists();
                }))
                .catch(error => {
                    console.log(error.response);

                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        editDeskList(id) {
            this.desk_list_input_id = id;
        },
        updateDeskList(id, name) {
            this.$v.deskLists.$touch();
            if (this.$v.deskLists.$anyError) {
                return;
            }
            this.closeInputDeskList();
            axios.post('/api/v1/desk-lists/' + id, {
                    _method: 'PUT',
                    name: name,
                })
                .then((response => {
                    this.desk_list_input_id = null;
                }))
                .catch(error => {
                    console.log(error.response);
                    if (error.response) {
                        this.errors = [];
                        this.errors.push(error.response.data.errors.name);
                    }
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        closeInputDeskList() {
            this.desk_list_input_id = null;
        },
        deleteDeskList(id, name) {
            if (confirm('You want to remove the board ' + name)) {
                axios.post('/api/v1/desk-lists/' + id, {
                        _method: 'DELETE'
                    })
                    .then((response => {
                        this.getDeskLists();
                    }))
                    .catch(error => {
                        console.log(error.response);
                        this.errored = true;
                    })
                    .finally(() => {
                        this.loading = false;
                    });

            }
        },
        getCard(id) {
            axios.get('/api/v1/cards/' + id)
                .then((response => {
                    this.current_card = [];
                    this.current_card = response.data.data;
                    console.log(response);
                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.getDeskLists();
                    this.loading = false;
                });
        },
        addNewCard(desk_list_id) {
            this.$v.card_names.$each[desk_list_id].$touch();
            if (this.$v.card_names.$each[desk_list_id].$anyError) {
                return;
            }
            axios.post('/api/v1/cards', {
                    name: this.card_names[desk_list_id],
                    desk_list_id: desk_list_id
                })
                .then((response => {
                    this.$v.$reset();
                    this.getDeskLists();
                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        editCard(id) {
            this.showInputCard = true;
        },
        closeInputCard() {
            this.showInputCard = false;
        },
        updateCard(id, name) {
            this.$v.current_card.name.$touch();
            if (this.$v.current_card.name.$anyError) {
                return;
            }
            this.closeInputCard();
            axios.post('/api/v1/cards/' + id, {
                    _method: 'PUT',
                    name: name
                })
                .then((response => {
                    this.showInputCard = false;
                    this.$v.$reset();
                    this.getDeskLists();
                }))
                .catch(error => {
                    console.log(error.response);
                    if (error.response.data.errors.name) {
                        this.errors = [];
                        this.errors.push(error.response.data.errors.name);
                    }
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                })
        },
        deleteCard(id, name) {
            if (confirm('You want to remove the card ' + name)) {
                axios.post('/api/v1/cards/' + id, {
                        _method: 'DELETE'
                    })
                    .then((response => {
                        this.$v.$reset();
                        this.getDeskLists();
                    }))
                    .catch(error => {
                        console.log(error.response);
                        this.errored = true;
                    })
                    .finally(() => {
                        this.loading = false;
                    });

            }
        },
        addNewTask() {
            this.$v.taskName.$touch();
            if (this.$v.taskName.$anyError) {
                return;
            }
            axios.post('/api/v1/tasks', {
                    name: this.taskName,
                    card_id: this.current_card.id
                })
                .then((response => {
                    this.taskName = null;
                    this.$v.$reset();
                    //this.getDeskLists();
                    this.getCard(this.current_card.id);

                }))
                .catch(error => {
                    console.log(error.response);
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        editTask(id) {
            this.task_input_name_id = id;
        },
        updateTask(task) {
            //this.closeInputCard();
            axios.post('/api/v1/tasks/' + task.id, {
                    _method: 'PUT',
                    name: task.name,
                    is_done: task.is_done,
                })
                .then((response => {
                    console.log(task);
                    this.task_input_name_id = null;
                    this.$v.$reset();
                }))
                .catch(error => {
                    console.log(error.response);

                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                })
        },
        deleteTask(id, name) {
            if (confirm('You want to remove the card ' + name)) {
                axios.post('/api/v1/tasks/' + id, {
                        _method: 'DELETE'
                    })
                    .then((response => {
                        this.getCard(this.current_card.id);
                    }))
                    .catch(error => {
                        console.log(error.response);
                        this.errored = true;
                    })
                    .finally(() => {
                        this.loading = false;
                    });

            }
        },
        saveName() {
            this.$v.name.$touch();
            if (this.$v.name.$anyError) {
                return;
            }
            axios.post('/api/v1/desks/' + this.deskId, {
                    _method: 'PUT',
                    name: this.name
                })
                .then((response => {
                    //this.desk = response.data.data;
                }))
                .catch(error => {
                    console.log(error.response);
                    if (error.response.data.errors.name) {
                        this.errors = [];
                        this.errors.push(error.response.data.errors.name);
                    }
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false;
                })

        }
    },
    mounted() {
        this.getDesk();
    },
    validations: {
        name: {
            required,
            maxLength: maxLength(255)
        },
        desk_list_name: {
            required,
            maxLength: maxLength(255)
        },
        deskLists: {
            $each: {
                name: {
                    required,
                    maxLength: maxLength(255)
                }
            }
        },
        card_names: {
            $each: {
                required,
                maxLength: maxLength(255)
            }
        },
        current_card: {
            name: {
                required,
                maxLength: maxLength(255)
            }
        },
        taskName: {
            required,
            maxLength: maxLength(255)
        }

    }
}
</script>
<style>
.card-title,
.modal-title,
.fa-pencil-alt {
    cursor: pointer;
}
</style>
